:root{
  --bg-color:rgba(0, 0, 0, 0.85);
  --graident:#FFB300;
  --color:#E5E5E5;
  --border:#3A3A3A;
  --quote-color:#C4C4C4;
  --year-sz:4rem;
  --quote-sz:3rem;
  --authur-sz:2rem;
  --week-sz:9px;
  --week-color:#515050;
  --cal-month-sz:2rem;
  --golden-width:100vw / 1.618;
}

html{
  margin:0px;
  padding: 0px;
  background-color:var(--bg-color);
}

.calendar{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.calendar__info{
color:  var(--graident)
}

.calendar__year{
  font-size: var(--year-sz);
}

.agenda{
  text-transform: uppercase;
}

.agenda__month{
  display: flex;
}

.agenda__name--transform-90{
  transform: rotate(90deg);
}

.agenda__vertical{
  width: 100px;
  height: 1px;
  border: 1px solid var(--graident);
}

q{
  font-size: var(--quote-sz);
  color:  var(--quote-color);
}

.authur{
  font-size:  var(--authur-sz);
  color: var(--quote-color);
}

.calendar__wallpaper{
  display:grid;
  grid-template-columns: repeat(2, autofit);
  grid-column: 1 / -1;
  height: 100vh;
  background-image: url('/assets/images/Amandla.jpg');
}