:root{
  --bg-color:rgba(0, 0, 0, 0.85);
  --graident:#FFB300;
  --color:#E5E5E5;
  --border:#3A3A3A;
  --quote-color:#C4C4C4;
  --year-sz:4rem;
  --quote-sz:3rem;
  --arthor-sz:2rem;
  --week-sz:9px;
  --week-color:#515050;
  --cal-month-sz:2rem;
}

html{
  margin:0px;
  padding: 0px;
  background-color:var(--bg-color);
}

@font-face{
  font-family: HelveticaNeue;
  src:url(/Assets/Fonts/HelveticaNeue-Regular.ttf);
  font-style:normal;
  font-weight: normal;
}

@font-face{
  font-family: Helvetica-Neue-Medium;
  src:url(/Assets/Fonts/Helvetica-Neue-Medium.ttf);
  font-style:Medium;
  font-weight: Bold;
}

@font-face{
  font-family:Futura Std;
  src: url(/Assets/Fonts/Futura\ Std\ Bold\ Oblique.otf);
  font-style:oblique;
  font-weight: bold;
}

@font-face{
  font-family:ITC Avant Garde Gothic;
  src: url(/Assets/Fonts/ITC\ Avant\ Garde\ Gothic\ Bold.otf);
  font-style:normal;
  font-weight:bold;
}

#january{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  
}


.january__information{
  display:grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr)); 
  grid-template-rows: repeat(3,1fr); 
  justify-content: center;
}

.year{
  font-family: Futura Std;
  color:  var(--graident);
  font-size:var(--year-sz);
}

.quotation{
  color:var(--quote-color);
  font-size: var(--quote-sz);
  font-family: ITC Avant Garde Gothic;
}

.arthor{
  /* padding-top:20px; */
  font-size: var(arthor-sz);
  color: var(--quote-color);
  font-family: ITC Avant Garde Gothic;
}

.week{
  font-family: Futura Std;
  font-size: var(--week-sz);
  text-transform: uppercase;
  color: var(--week-color);
}

.wallpaper{
  /* display:grid;
  height:100vh; */
  background-image: url('/Assets/Images/Lady.jpg');
  /* grid-auto-flow: dense; */
}

.calendar{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px; 
  grid-column: 2 / -1;
  
}

.calendar__month{
  font-family: Helvetica-Neue-Medium;
  transform: rotate(90deg);
  font-size: var(--cal-month-sz);
  text-transform: uppercase;
  color: var(--week-color);
  grid-column: 1 / span -1;
  grid-row:  span 1 /   5 ;
  background-color:red;
}

.item{
  text-align:center; 
  height:50px;
  width:50px;
  border:1px solid var(--border);
  border-radius:5px;
}

.item:hover{
  border:1px solid var(--graident);
}

.date{
  color:white;
}
